@page "/"
@using Microsoft.Playwright;

<PageTitle>Home</PageTitle>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>AutoTester</h1>
        </div>

        <div id="messenger" data-mid="@myUserId" data-oid="@otherUserId">
            <div id="taskWebsiteInput">
                <label for="websiteInput">URL: </label>
                <input id="websiteInput" type="text" placeholder="Input Task Website">
            </div>
            <div id="messengerMessagingView">

            </div>
            <div id="messengerControllerView">
                <div id="messengerSendInput">
                    <input id="sendInput" type="text" placeholder="Input Website Testing Task">
                    <span id="sendBtn">
                        <i id="sendBtnIcon" class="fas fa-paper-plane"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string myUserId { get; set; }

    [Parameter]
    public string otherUserId { get; set; }
}